.linkText{
	font-size:13px; 
	color:#44617d; 
	text-decoration: none;
}

.dashlinkText{
	line-height:28px;
	font-size:15px; 
	font-weight:bold; 
	color:#228246; 
	text-decoration: none;
}


.round {
    border: 2px solid;
    border-radius: 8px;
    line-height:38px;
    border-color:#224446;
    width:300px;
}


.round #dashText {
    font-style: italic;
    color: #674823;
    letter-spacing: 1.25px;
    font-size:18px;
    padding: 5px;
    
    text-align:center;
    margin-top:33px;
    margin-bottom:33px;
}
.fa{
    margin-right: 7px;
}


.mainLogoImg {
    height: 75px;
    width: 220px;
    float: left;
}

.mainRight {
    float: right;
    width: 220px;
    text-align: right;
    border-top: 1px solid #f1c40f;
    border-bottom: 1px solid #f1c40f;
    padding: 7px;
}

.mainHead {
    padding: 15px 0px 15px 0px;
    height: 75px;
    width: 100%;
}

.mainRightHead {
    margin-bottom: 10px;
    font-size: 14px;
}

.mainRightNumber {
        font-size: 24px;
        background-color: #f6f6f6;
        padding: 2px;
        display: inline-block;
    color: #44617d;
}

.typeSelector {
    border: 1px solid #f1c40f;
    padding-top: 11px;
    padding-bottom: 11px;    
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #f6f6f6;

    
}
.typeSelector>a{
    padding: 12px 7px 12px 6px;
    color: inherit;
    border-right: 1px solid #f1c40f;
    font-size: 14px;
    text-decoration: none;
    margin: 0px;
}
.typeSelector>a:hover{
    color: #f1c40f;
}
.tlast {
    border-right: 0px !important;
}

.typeActive {
    background-color: #f1c40f !important;
    color: #fff !important;
}
.submitDivClass{
    padding-top: 40px;
}
.testimonialsClass{
    margin-top: 10px;
}
.slides li{
    text-align: center;
    vertical-align: middle;
    color: #567798;
}
.slides .author{
    text-align: right;
    font-size: 16px;
    display: block;
    color: #2c3f51;
    margin-right: 22px;

}
.slides h3{
    padding: 0px 10px;
}

